* {
    border: 0px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header {
    width: 100%;
    min-height: 60px;
    color: #000000;
    background:  url("./img/contentimg.jpg");
    display: flex;
    justify-content: end;
    position: sticky;
    top: 0px;
    z-index: 10;
    backdrop-filter: blur(3px);
}

.nav {
    width: 35%;
    min-height: 5px;
    color: #0a0a0a;
    padding: 1% 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav_buttons {
    width: auto;
    height: auto;
    transition: 0.2s;
    position: relative;
}

.nav_buttons:hover{
    font-size: 18px;
    text-shadow: 0px 0px 5px rgba(97, 106, 139, 0.882);
    font-weight: 700px;
    cursor: pointer;
}
.nav_buttons:hover::after{
    content: "";
    width: 110%;
    height: 2px;
    background-color: rgb(90, 56, 169);
    position: absolute;
    bottom: 3px;
    left: -2px;
}

/* main block */
#main{
    width: 100%;
    min-height: calc(100dvh - 60px);
    position: fixed;
    background: url("./img/contentimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    display: flex;
    
}

/* for profile section */

#profile {
    width: 20%;
    background-color: #0088ff11;
    color: #000;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.464);
    margin-left: 5%;
    position: fixed;
    top: 0px;
    left: 0;
    height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-wrap: anywhere;
}


#photo{
    width: 150px;
    height: 150px;
    background-color: rgb(87, 61, 61);
    border-radius: 50px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgb(8, 10, 8);
}
#photo>img{
    width: 150px;
    height: 170px;
    border-radius: 50px;
    object-fit:cover;
    
}

#name {
    width: fit-content;
    font-size: 5em;
    letter-spacing: 1px;
    border-right: 3px solid;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(30) infinite, 
               cursor .5s step-end infinite alternate;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

/* cursor blinking */
@keyframes cursor {
    50% { border-color: transparent; }
}

/* typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 85%; }
}
#work{
    width: 130px;
    height: 30px;
    color: rgb(0, 0, 0);
    background: url("./img/contentimg.jpg");
    backdrop-filter: blur(5px);
    margin: auto;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    font-weight: 600;
}
#details{
    width: 90%;
    min-height: calc(499.2px - 248.217px);
    margin: auto;
    margin-top: 30px;
}
#details::before{
    content: "";
    width: 80%;
    height: 2px;
    background-color: rgb(90, 56, 169);
    position: absolute;
    transform: translate(10%,50%);
}
#email{
    width: 100%;
    height: 70px;
    position: relative;
    top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
#phone{
    width: 100%;
    height: 70px;
    position: relative;
    top: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
#location{
    width: 100%;
    height: 70px;
    position: relative;
    top: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
#profile #contact{
    width: 100%;
    height: 70px;
    position: relative;
    top: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.icons{
    width: 50px;
    height: 50px;
    margin-left: 3%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in-out;
}
.icons:hover{
    width: 55px;
    height: 55px;
    cursor: pointer;
}
.contact_icons{
    height: 40px;
    transition: 0.1s ease-in-out;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.contact_icons:hover{
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}

#email_text{
    width: 200px;
    height: 55px;
    color: rgb(0, 0, 0);
    margin-left: 4%;
    border-radius: 10px;
}
#phone_text{
    width: 200px;
    height: 55px;
    color: rgb(0, 0, 0);
    margin-left: 4%;
    border-radius: 10px;
}
#location_text{
    width: 200px;
    height: 55px;
    color: rgb(0, 0, 0);
    margin-left: 4%;
    border-radius: 10px;
}

/* content section */

#content {
    width: 70%;
    color: #000;
    background-color: #0088ff11;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.464);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    right: 20px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    
}
/* about section */

#content> #about{
    width: 90%;
    min-height: 100%;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
} 
#about_heading{
    margin-top: 15px;
    margin-left: 0;
}
#about_heading::after{
    content: "";
    width: 100px;
    height: 2px;
    background-color: rgb(90, 56, 169);
    position: absolute;
    top: 55px;
    left:0px;
}
#about_heading2{
    font-size: 25px;
    margin-top: 30px;
    font-weight: 600;
}
#about_text{
   margin-top:40px;
   font-family:'Roboto', sans-serif;
}
#skills_layout{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    position: relative;
    overflow: auto;
}
.web{
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(2, 2, 2, 0.2);
    box-shadow: 0px 4px 10px #161616;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out; 
    text-align: center;
    position: relative;
    right: 0;
}
.web:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 10px black;
}
.web>img{
    width: 140px;
    height: 140px;
    position: relative;
    left: 0;
}

/* skills section */
#overskills{
    width: 90%;
    min-height: 100%;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
}
#skills_heading{
    margin-top: 15px;
    margin-left: 0;
}
#skills_heading::after{
    content: "";
    width: 50px;
    height: 2px;
    background-color: rgb(90, 56, 169);
    position: absolute;
    top: 55px;
    left:0px;
}
#skills_set{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center; 
}
.skills{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(2, 2, 2, 0.2);
    box-shadow: 0px 4px 10px #161616;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
#skills_fa{
    font-size: 40px;
}
.skills:hover{
    transform:translateY(-3px);
    box-shadow:0px 6px 20px #0f0f0e;
}
/* contact section */
#form{
    margin-top:70px;
    border:2px solid rgb(0, 0, 0);
    padding:40px;
    padding-bottom:70px;
    border-radius:10px;
}
#txtmail{
    display: inline-block;
}
#fname{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}
#mailid{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #000000;
}
#submit{
    background-color: #4CAF50;
     width: 150px;
     height: fit-content;
     color: white;
     padding: 14px 20px;
     margin: 5% 20%;
     border: none;
     border-radius: 6px;
     cursor: pointer;
}
#msg{
    width:100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #000000;
  border-radius: 4px;
}
/* projects section */

#content> #projects_page{
    width: 90%;
    min-height: 100%;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
}
#projects_heading{
    margin-top: 15px;
    margin-left: 0;
}
#projects_heading::after{
    content: "";
    width: 80px;
    height: 2px;
    background-color: rgb(90, 56, 169);
    position: absolute;
    top: 55px;
    left:0px;
}
#projects_set{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding:50px;
    justify-content: center;
    
}
.projects{
    padding: 40px;
    border-radius: 10px;
    border: 2px solid rgba(2, 2, 2, 0.2);
    box-shadow: 0px 4px 10px #161616;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
.projects:hover{
    transform:translateY(-3px);
    box-shadow:0px 6px 20px #0f0f0e;
    cursor: pointer;
}

/* resume section */
#content>#resume_page{
    width: 90%;
    min-height: 100%;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0;
    left: 0;
}
#resume_heading{
    margin-top: 15px;
    margin-left: 0;
}
#resume_heading::after{
    content: "";
    width: 60px;
    height: 2px;
    background-color: rgb(90, 56, 169);
    position: absolute;
    top: 55px;
    left:0px;
}
#education{
    width: 90%;
    min-height: 400px;
    position:relative;
    top: 20px;
    display: flex;
}
#education_icons{
    width: 25px;
    height: 25px;
    position: relative;
    top: 20px;
    left: 15px;
}
#education_heading{
    margin: 50px 0 0 20px;
    display: inline;
    font-weight: 500;
    position: relative;
    top: 20px;
    left: 15px;
}
#education_decoration{
    content: "";
    width: 8px;
    height: 261px;
    display: flex;
    background: linear-gradient(to bottom, rgba(25, 117, 151, 0.166), rgba(48, 146, 176, 0.232));
    position: relative;
    border-radius: 10px;
    top: 25px;
    left:25px;
    display: flex;
    flex-direction: column;
}
.dot{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: radial-gradient(circle, rgb(32, 106, 158), lightblue);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.603);
}
#dot2{
    margin-top: 120px;
}
#dot3{
    margin-top: 115.8px;
}
#education_details{
    margin: 15px 0 0 60px;
}

#certifications{
    padding-top:30px;
    width: 100%;
    min-height: 300px;
    position: relative;
    top: 30px;
    left: 10px;
}
#certifications_set{
    
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding:10px;
    justify-content: center;
    align-items:center;
    
}
#certifications_heading{
    padding-left:30px;
}
#certifications_heading::after{
    content: "";
    width: 150px;
    height: 2px;
    background-color: rgb(90, 56, 169);
    position: absolute;
    top: 65px;
    left:40px;
}
.certifications{
    
    height:350px;
    width:350px;
    border-radius: 15px;
    border: 2px solid rgba(2, 2, 2, 0.2);
    box-shadow: 0px 4px 10px #161616;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
   
}
.certifications img{
    width:100%;
    height:100%;
    object-fit: contain;

}
.certifications:hover{
    transform:translateY(-2px);
    box-shadow:0px 6px 20px #0f0f0e; 
}
#Certifi_main{
    padding-top: 50px;
    padding-left:50px;
}